name: Check
on:
    workflow_dispatch:
    pull_request:
        branches: [main]
    push:
        branches: [main]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              uses: ./.github/actions/setup
            - run: pnpm build

    types:
        name: Types
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              uses: ./.github/actions/setup
            - run: pnpm dtslint

    lint:
        name: Lint
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              uses: ./.github/actions/setup
            - run: pnpm lint

    test:
        name: Test (${{ matrix.runtime }})
        runs-on: ubuntu-latest
        timeout-minutes: 5
        strategy:
            fail-fast: false
            matrix:
                runtime: [Node, Bun]
        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              uses: ./.github/actions/setup
            - uses: oven-sh/setup-bun@v1
              if: matrix.runtime == 'Bun'
              with:
                  bun-version: 1.0.25
            - name: Test
              run: pnpm vitest
              if: matrix.runtime == 'Node'
            - name: Test
              run: bun vitest
              if: matrix.runtime == 'Bun'
